<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>      
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <!-- Font Awesome ICONS-->
    <script src="https://kit.fontawesome.com/0a86db5e8d.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">  
</head>
<body>
    <section class="todo-container">
        <h2>To Do List</h2>
        <section class="todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="title" value="title">
                <textarea name="content" cols="30" rows="10">content</textarea>
                <button type="submit"><span class="fa-solid fa-square-plus"> </span> Add Task</button>
            </form>
            <ul class="todo-list">
                <% todoTasks.forEach(task => {%>
                    <li class="todo-list-item">
                        <div class="todo-list-item-title">
                            <%= task.title %>
                        </div>
                        <div class="todo-list-item-content">
                            <%= task.content %>
                        </div>
                        <a href="/edit/<%= task._id %>" class="edit"><span class="fa-solid fa-pen-to-square"></span></a>
                        <a href="/remove/<%= task._id %> " class="remove"><span class="fa-solid fa-trash-can"></span></a>
                    </li>
                <% }) %>
            </ul>
        </section>
    </section>
</body>
</html>